.header_container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


button {
    display: flex;
    flex-shrink: 3;
}








.me {
width: 400px;
height: auto;
}















.Google {
    width: 100px;
    height: auto;
}

.CISCO1 {
    width: 100px;
    height: auto;
}

.CISCO2 {
    width: 100px;
    height: auto;

}

.OU {
    width: 100px;
    height: auto;
}