.header_container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


button {
    display: flex;
    flex-shrink: 3;
}


.me {
width: 400px;
height: auto;
}


.quote {
    font-style: light italic;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;


}


.footer {

    background-color: #3882F6;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}












.Google {
    width: 100px;
    height: auto;
}

.CISCO1 {
    width: 100px;
    height: auto;
}

.CISCO2 {
    width: 100px;
    height: auto;

}

.OU {
    width: 100px;
    height: auto;
}